@use "sass:math";
@function em($pixel, $context: 16) {
    @return #{math.div($pixel, $context)}em;
}

// figure.wp-block-image
.wp-block-image {
    position: relative;
    figcaption {
        position: absolute;
        top: em( 20 );
        left: em( -30 );
        right: 0;
        background-color: var(--wp--preset--color--base);
        color: #ffffff;
        padding: 1em;
        font-size: 0.8em;
        opacity: 60%;
    }
}