## Theme Json Generator
theme.schema.json

## Package Lock
package-lock.json

## Yarn
yarn.lock
yarn-error.log

# Directory
/vendor/
/_others/
/node_modules/
/assets/sass/_old/
/dist/

# File
*.local
*.testing
codeception.yml
*.lock
*.phar
*.bak
infection.json.dist
c3.php