.form-actions {
  @extend .alignwide;

  margin-top: $spacer * 1.5;
}

.comment-respond {
  .comment-reply-title {
    color: $dark-blue;
  }
}

.comment-form {
  .comment-form-author,
  .comment-form-email,
  .comment-form-url,
  .comment-form-comment {
    margin-top: $spacer * 1.5;
  }

  .logged-in-as {
    a {
      text-decoration: underline;
    }
  }
}
