.wp-block-post-comments {
    margin-top: var( --wp--custom--spacer--h );

    ul,
    ol {
       list-style:  none outside none;
   }

    .parent,
    .children,
    .comment{
        margin-top: var( --wp--custom--spacer--s );
    }

    /**
     * This fix negative margin from gutenberg style.css
     */
    .comment-meta {
        margin-left: unset;
    }

    .comment-metadata {
        font-size: var( --wp--preset--font-size--small );
    }
}