$wp--preset--color--base: --wp--preset--color--base;
$wp--preset--color--base-2: --wp--preset--color--base-2;
$wp--preset--color--contrast: --wp--preset--color--contrast;
$wp--preset--color--contrast-2: --wp--preset--color--contrast-2;
$wp--preset--color--contrast-3: --wp--preset--color--contrast-3;
$wp--preset--gradient--gradient-1: --wp--preset--gradient--gradient-1;
$wp--preset--gradient--gradient-2: --wp--preset--gradient--gradient-2;
$wp--preset--gradient--gradient-3: --wp--preset--gradient--gradient-3;
$wp--preset--gradient--gradient-4: --wp--preset--gradient--gradient-4;
$wp--preset--gradient--gradient-5: --wp--preset--gradient--gradient-5;
$wp--preset--gradient--gradient-6: --wp--preset--gradient--gradient-6;
$wp--preset--gradient--gradient-7: --wp--preset--gradient--gradient-7;
$wp--preset--gradient--gradient-8: --wp--preset--gradient--gradient-8;
$wp--preset--gradient--gradient-9: --wp--preset--gradient--gradient-9;
$wp--preset--gradient--gradient-10: --wp--preset--gradient--gradient-10;
$wp--preset--gradient--gradient-11: --wp--preset--gradient--gradient-11;
$wp--preset--gradient--gradients-12: --wp--preset--gradient--gradients-12;
$wp--preset--font-family--heading: --wp--preset--font-family--heading;
$wp--preset--font-family--body: --wp--preset--font-family--body;
$wp--preset--font-family--system-sans-serif: --wp--preset--font-family--system-sans-serif;
$wp--preset--font-family--system-serif: --wp--preset--font-family--system-serif;
$wp--preset--font-size--small: --wp--preset--font-size--small;
$wp--preset--font-size--medium: --wp--preset--font-size--medium;
$wp--preset--font-size--large: --wp--preset--font-size--large;
$wp--preset--font-size--x-large: --wp--preset--font-size--x-large;
$wp--preset--font-size--xx-large: --wp--preset--font-size--xx-large;
