$wp--preset--color--light: --wp--preset--color--light;
$wp--preset--color--dark: --wp--preset--color--dark;
$wp--preset--color--body-bg: --wp--preset--color--body-bg;
$wp--preset--color--body-color: --wp--preset--color--body-color;
$wp--preset--color--heading-color: --wp--preset--color--heading-color;
$wp--preset--color--link-color: --wp--preset--color--link-color;
$wp--preset--color--base: --wp--preset--color--base;
$wp--preset--color--base-dark: --wp--preset--color--base-dark;
$wp--preset--color--base-light: --wp--preset--color--base-light;
$wp--preset--color--base-complementary: --wp--preset--color--base-complementary;
$wp--preset--color--gray-100: --wp--preset--color--gray-100;
$wp--preset--color--gray-200: --wp--preset--color--gray-200;
$wp--preset--color--gray-300: --wp--preset--color--gray-300;
$wp--preset--color--gray-400: --wp--preset--color--gray-400;
$wp--preset--color--gray-500: --wp--preset--color--gray-500;
$wp--preset--color--gray-600: --wp--preset--color--gray-600;
$wp--preset--color--gray-700: --wp--preset--color--gray-700;
$wp--preset--color--gray-800: --wp--preset--color--gray-800;
$wp--preset--color--gray-900: --wp--preset--color--gray-900;
$wp--preset--gradient--light-to-dark: --wp--preset--gradient--light-to-dark;
$wp--preset--gradient--base-to-white: --wp--preset--gradient--base-to-white;
$wp--preset--font-family--base: --wp--preset--font-family--base;
$wp--preset--font-family--monospace: --wp--preset--font-family--monospace;
$wp--preset--font-size--base: --wp--preset--font-size--base;
$wp--preset--font-size--h-1: --wp--preset--font-size--h-1;
$wp--preset--font-size--h-2: --wp--preset--font-size--h-2;
$wp--preset--font-size--h-3: --wp--preset--font-size--h-3;
$wp--preset--font-size--h-4: --wp--preset--font-size--h-4;
$wp--preset--font-size--h-5: --wp--preset--font-size--h-5;
$wp--preset--font-size--h-6: --wp--preset--font-size--h-6;
$wp--preset--font-size--small: --wp--preset--font-size--small;
$wp--preset--font-size--x-small: --wp--preset--font-size--x-small;
$wp--custom--content-size: --wp--custom--content-size;
$wp--custom--wide-size: --wp--custom--wide-size;
$wp--custom--base-font-size: --wp--custom--base-font-size;
$wp--custom--spacer--base: --wp--custom--spacer--base;
$wp--custom--spacer--v: --wp--custom--spacer--v;
$wp--custom--spacer--h: --wp--custom--spacer--h;
$wp--custom--spacer--s: --wp--custom--spacer--s;
$wp--custom--spacer--m: --wp--custom--spacer--m;
$wp--custom--spacer--l: --wp--custom--spacer--l;
$wp--custom--spacer--xl: --wp--custom--spacer--xl;
$wp--custom--line-height--base: --wp--custom--line-height--base;
$wp--custom--line-height--xs: --wp--custom--line-height--xs;
$wp--custom--line-height--s: --wp--custom--line-height--s;
$wp--custom--line-height--m: --wp--custom--line-height--m;
$wp--custom--line-height--l: --wp--custom--line-height--l;
$wp--custom--body--bg: --wp--custom--body--bg;
$wp--custom--body--text: --wp--custom--body--text;
$wp--custom--link--bg: --wp--custom--link--bg;
$wp--custom--link--text: --wp--custom--link--text;
$wp--custom--link--decoration: --wp--custom--link--decoration;
$wp--custom--link--hover--text: --wp--custom--link--hover--text;
$wp--custom--link--hover--decoration: --wp--custom--link--hover--decoration;
$wp--custom--button--bg: --wp--custom--button--bg;
$wp--custom--button--text: --wp--custom--button--text;
$wp--custom--button--border-color: --wp--custom--button--border-color;
$wp--custom--button--border-radius: --wp--custom--button--border-radius;
$wp--custom--button--hover--bg: --wp--custom--button--hover--bg;
$wp--custom--button--hover--text: --wp--custom--button--hover--text;
$wp--custom--button--hover--border-color: --wp--custom--button--hover--border-color;
$wp--custom--button--padding: --wp--custom--button--padding;
$wp--custom--form--border--color: --wp--custom--form--border--color;
$wp--custom--form--border--width: --wp--custom--form--border--width;
$wp--custom--form--input--color: --wp--custom--form--input--color;
$wp--custom--navbar--min--height: --wp--custom--navbar--min--height;
$wp--custom--query--post--title: --wp--custom--query--post--title;
