body,
.has-navbar-fixed-top {
    padding-top: $navbar-min-height;
    //@include media-breakpoint-up( sm ) {
    //    padding-top: 100px;
    //}
    //
    //@include media-breakpoint-up( lg ) {
    //    padding-top: 100px;
    //}
}

.admin-bar {
    .navbar.fixed-top{
        top: 46px !important;
        @include media-breakpoint-up( lg ) {
            top: 32px !important;
        }
    }
}

/**
 * This fix empty paragraph added by Gutenberg
 */
p {
    &:empty {
        display: none;
    }

    &:blank {
        display: none;
    }
}

/**
 * This fix lateral padding if the container has container-fluid and child has .col-md-12
 */
.container-fluid {
    > div {
        > .col-md-12 {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.wp-block-cover-image .wp-block-cover__inner-container,
.wp-block-cover .wp-block-cover__inner-container {
    color: $black;
}

//.wp-block-cover-image .wp-block-subhead:not(.has-text-color),
//.wp-block-cover-image h1:not(.has-text-color),
//.wp-block-cover-image h2:not(.has-text-color),
//.wp-block-cover-image h3:not(.has-text-color),
//.wp-block-cover-image h4:not(.has-text-color),
//.wp-block-cover-image h5:not(.has-text-color),
//.wp-block-cover-image h6:not(.has-text-color),
//.wp-block-cover-image p:not(.has-text-color),
//.wp-block-cover .wp-block-subhead:not(.has-text-color),
//.wp-block-cover h1:not(.has-text-color),
//.wp-block-cover h2:not(.has-text-color),
//.wp-block-cover h3:not(.has-text-color),
//.wp-block-cover h4:not(.has-text-color),
//.wp-block-cover h5:not(.has-text-color),
//.wp-block-cover h6:not(.has-text-color),
//.wp-block-cover p:not(.has-text-color) {
//    color: $black;
//}

.wp-block-cover-image.has-background-dim:not([class*="-background-color"]),
.wp-block-cover.has-background-dim:not([class*="-background-color"]) {
    background-color: transparent !important;
}

/**
 * Reset
 */

.wp-block-buttons {
    &.alignleft {
        margin: 0;
    }
}

.wp-block-image {
    margin-bottom: 0;
}

.wp-block-media-text {
    .wp-block-media-text__content {
        padding: 0;
    }
}