.site-footer {
  padding: var(--wp--custom--spacer--h) 0;
}

.wp-block-post-comments {
  margin-top: var(--wp--custom--spacer--h);
  /**
   * This fix negative margin from gutenberg style.css
   */
}
.wp-block-post-comments ul,
.wp-block-post-comments ol {
  list-style: none outside none;
}
.wp-block-post-comments .parent,
.wp-block-post-comments .children,
.wp-block-post-comments .comment {
  margin-top: var(--wp--custom--spacer--s);
}
.wp-block-post-comments .comment-meta {
  margin-left: unset;
}
.wp-block-post-comments .comment-metadata {
  font-size: var(--wp--preset--font-size--small);
}

/**
 * This is the container for the comment form.
 */
/**
 * This is the form
 * It is contained inside the .comment-respond element
 */
.comment-form .comment-form-author,
.comment-form .comment-form-email,
.comment-form .comment-form-url,
.comment-form .comment-form-comment {
  margin-top: var(--wp--custom--spacer--s);
}
.comment-form .logged-in-as {
  font-size: var(--wp--preset--font-size--small);
}
.comment-form .logged-in-as a {
  text-decoration: underline;
}
.comment-form label {
  margin-bottom: var(--wp--custom--spacer--s);
}
.comment-form input,
.comment-form textarea {
  display: block;
  width: 100%;
  padding: var(--wp--custom--button--padding);
}
.comment-form input:not(.submit),
.comment-form textarea:not(.submit) {
  color: #212529;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.comment-form input:focus,
.comment-form textarea:focus {
  color: #212529;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

/**
 * This is like the .btn in bootstrap
 * Example:
 * @extend .wp-block-button__link;
 */
.wp-block-button__link, .wp-block-file .wp-block-file__button {
  display: inline-block;
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  word-break: break-word;
  /**
   * This styles are initialize in theme.json
   */
}
.wp-block-button__link:hover, .wp-block-file .wp-block-file__button:hover, .wp-block-button__link:active, .wp-block-file .wp-block-file__button:active, .wp-block-button__link:focus, .wp-block-file .wp-block-file__button:focus {
  text-decoration: none;
  background-color: var(--wp--custom--button--hover--bg);
  border-color: var(--wp--custom--button--hover--border-color);
  color: var(--wp--custom--button--hover--text);
}

.is-style-outline > .wp-block-button__link, .wp-block-file .is-style-outline > .wp-block-file__button {
  --wp--custom--button--bg: transparent;
  --wp--custom--button--border-color: currentColor;
  --wp--custom--button--text: var( --wp--preset--color--base );
  padding: var(--wp--custom--button--padding);
}
.is-style-outline > .wp-block-button__link:not(.has-background), .wp-block-file .is-style-outline > .wp-block-file__button:not(.has-background) {
  color: var(--wp--custom--button--text);
  background-color: var(--wp--custom--button--bg);
  border-color: var(--wp--custom--button--border-color);
}
.is-style-outline > .wp-block-button__link:hover, .wp-block-file .is-style-outline > .wp-block-file__button:hover, .is-style-outline > .wp-block-button__link:active, .wp-block-file .is-style-outline > .wp-block-file__button:active, .is-style-outline > .wp-block-button__link:focus, .wp-block-file .is-style-outline > .wp-block-file__button:focus {
  --wp--custom--button--bg: var(--wp--custom--button--hover--bg);
  --wp--custom--button--border-color: var(--wp--custom--button--hover--border-color);
  --wp--custom--button--text: var(--wp--custom--button--hover--text);
}

.wp-block-file .wp-block-file__button {
  background-color: var(--wp--custom--button--bg);
  border-color: var(--wp--custom--button--border-color);
  color: var(--wp--custom--button--text);
  font-size: 0.7em;
  border-radius: 0.3333333333em;
}

.wp-block-post-comments input.wp-block-button__link, .wp-block-post-comments .wp-block-file input.wp-block-file__button, .wp-block-file .wp-block-post-comments input.wp-block-file__button {
  border-color: currentColor;
}

.wp-block-image {
  position: relative;
}
.wp-block-image figcaption {
  position: absolute;
  top: 1.25em;
  left: -1.875em;
  right: 0;
  background-color: var(--wp--preset--color--base);
  color: #ffffff;
  padding: 1em;
  font-size: 0.8em;
  opacity: 60%;
}

.is-style-even-odd li {
  display: flex;
  gap: 2rem;
  flex-direction: row;
}
.is-style-even-odd li:nth-child(even) {
  flex-direction: row-reverse;
}
.is-style-even-odd li figure {
  min-width: 50%;
  height: 100%;
  align-self: center;
  -webkit-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.45);
}
.is-style-even-odd li > div {
  height: 100%;
  align-self: center;
}

/*# sourceMappingURL=editor-style.css.map */