<!-- wp:template-part {"slug":"navigation","layout":{"inherit":true}} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":true}} -->
<main class="wp-block-group">
    <!-- wp:heading {"level":1,"align":"wide"} -->
    <h1 class="alignwide">Nothing Here</h1>
    <!-- /wp:heading -->

    <!-- wp:separator {"align":"wide"} -->
    <hr class="wp-block-separator alignwide" />
    <!-- /wp:separator -->

    <!-- wp:paragraph -->
    <p>It looks like nothing was found at this location. Maybe try a search?</p>
    <!-- /wp:paragraph -->

    <!-- wp:search {"buttonText":"Search","buttonUseIcon":true} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer","layout":{"inherit":true}} /-->
