<!-- wp:template-part {"slug":"navigation","layout":{"inherit":true}} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":true}} -->
<main class="wp-block-group">
    <!-- wp:post-featured-image /-->

    <!-- wp:template-part {"slug":"title-singular","layout":{"inherit":true}} /-->

    <!-- wp:template-part {"slug":"meta","layout":{"inherit":true}} /-->

    <!-- wp:post-content {"layout":{"inherit":true}} /-->

    <!-- wp:separator -->
    <hr class="wp-block-separator" />
    <!-- /wp:separator -->

    <!-- wp:post-author {"showBio":true,"avatarSize":"96"} /-->

    <!-- wp:template-part {"slug":"comments","layout":{"inherit":true}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer","layout":{"inherit":true}} /-->
